{
    "rabbit": {
        "host": "",
        "port": 5672,
        "vhost": "",
        "user": "",
        "pass": "",
        "queue": "killmail"
    },
    "mongo": {
        "host": "",
        "port": 27017,
        "name": "eve"
    }
}